body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


a {
  text-decoration: none;
}

label {
  display: block;
}
/* navbar */
.navbar {
  opacity: 30%
}

nav a {
  display: inline-block;
  margin: 1em;
}

h1 {
  text-align: center;
  margin: 1em;
  text-decoration-line: overline;
}

h2 {
  line-height: 1.7em;
  color: #45b1e8;
  font-weight: bold;
}

/* h3 {
  padding: 10px;
} */

p {
  padding-left: 10px;
  padding-right: 10px;
}

form div {
  margin: 1em;
  display: inline-block;
}

form {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  /* margin: 5rem auto; */
}

ul {
  list-style-type: none;
}

.chat {
  display: flex;
  height: 89vh;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

/* HOME PAGE */

#welcome-block {
  display: flex;
  justify-content: left;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 20px;
}

#home-container {
  position: relative;
  display: block;
  align-items: center;
  height: 700px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.home-image {
  height: 600px;
  width: 450px;
  position: absolute;
  z-index: 2; /* Place this image in front of the shape */
  top: 0;
  left: 0;
}

.shape {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 70px;
  width: 450px;
  height: 600px;
  background-image: linear-gradient(45deg, #45b1e8, #feb552);
}

.text-block {
  position: absolute;
  padding-top: 100px;
  top: 0;
  left: 700px;
  width: 350px;
  height: 600px;
}

.welcome {
  line-height: 1.7em;
  color: #feb552;
  font-size: larger;
  font-weight: bold;
}

/* QUIZ  */
.question-count {
  text-align: left;
  color: 414a4c;
  font-size: medium;
  background-color: #45b1e8;
  padding: 15px;
}

.question-text {
  display: flex;
  flex-direction: row;
  font-size: larger;
  font-weight: bolder;
  justify-content: center;
  padding: 50px;
}

.answer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 15px;
}

/* MENTOR MATCHES PAGE*/
.mentors {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

/* .mentorbutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #414a4c;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
} */

.mentorbutton:hover {
  color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* SING IN and SIGN UP' */
.authForm {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 15px;
  background-color: white;
  opacity: 95%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.authFormEmail {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.authContainer {
  background-image: url("./images/logged_out/mentorship1.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.auth {
  padding-top: 20%;
}

.authForm form div {
  margin-top: 0;
}

.authForm form a {
  padding-top: 15px;
  /* padding-left: 50px; */
  font-size: 10px;
  border-top: 2px solid gray;
}

.authSocialLinks {
  padding-top: 30px;
  /* margin-left: 10px; */
  /* padding-left: 17px; */
  border-left: 2px solid gray;
}

.socialBtn {
  color: white;
  min-width: 220px;
  height: 38px;
  margin: 25px 0 10px 0;
}

.socialBtn:hover {
  color: white;
}

.authBtn {
  width: 190px;
  /* margin-left: 15px; */
  background-color: black;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 25px;
}

.authBtn:hover {
  color: white;
}

/* CHAT */

/* .main-chat {
  margin: 0 50px 50px;
  border: lightslategrey solid 2px;
} */

.messageBubble {
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  max-width: fit-content;
}

.message {
  background-color: rgb(85 108 214);
  float: right;
  font-size: 14px;
}

.incoming {
  background-color: #198754;
  float: left;
  font-size: 14px;
}

.sendEmailIcon {
  height: 30px;
  width: 30px;
}

.messageList {
  width: 78vw;
  height: 81vh;
  padding: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebarContainer {
  /* width: 20%; */
  border-right: 2px solid #dee2e6;
}

input.composeMessage {
  font-size: 14px;
  padding: 0 20px;
  width: 80%;
}

h6 {
  text-align: center;
  background: #e9ecef;
}

.sidebar {
  padding: 2px;
  width: 20vw;
}

.recipientPic {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 20px;
}

button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.recipientBtn.css-1lznhn3-MuiButtonBase-root-MuiButton-root {
  /* background: yellow; */
  width: 19vw;
  display: flex;
  justify-content: flex-start;
  /* padding: 10px; */
  /* border-radius: 10px; */
  margin-top: 10px;
  border-bottom: 1px solid #f9fafb;
}

.messageTime {
  font-size: 10px;
  font-style: italic;
  padding-top: 3px;
}

.singleMessageContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.conversations {
  /* border-bottom: 2px solid gray; */
  border-bottom: 2px solid #dee2e6;
  margin-bottom: 15px;
  font-size: 21pt;
  padding-bottom: 10px;
  padding-left: 10px;
}

input.form-control.composeMessage {
  font-size: 16px;
}

.incomingMsg {
  align-items: flex-start;
  margin-left: 10px;
}

@media (max-width: 970px) {
  .sidebar,
  button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.recipientBtn.css-1lznhn3-MuiButtonBase-root-MuiButton-root {
    width: 25vw;
  }

  .messageList {
    width: 73vw;
  }
}

@media (max-width: 730px) {
  .recipientName {
    font-size: 14px;
  }

  .conversations {
    padding-left: 5px;
    font-size: 16pt;
  }

  .recipientPic {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .messageList {
    width: 72vw;
    padding-right: 0;
  }

  .sidebar {
    padding: 0;
  }
}

@media (max-width: 651px) {
  .sidebar,
  button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.recipientBtn.css-1lznhn3-MuiButtonBase-root-MuiButton-root {
    width: 30vw;
  }

  .messageList {
    width: 65vw;
  }

  .authForm {
    flex-direction: column;
    width: 300px;
    height: 450px;
  }

  .authSocialLinks {
    border-left: none;
    border-top: 2px solid gray;
    padding-top: 20px;
    margin-top: 20px;
  }

  .authFormEmail {
    margin-left: 10px;
    padding-left: 17px;
  }
}

@media (max-width: 550px) {
  .conversations {
    font-size: 4vw;
  }

  .recipientPic {
    display: none;
  }

  .recipientName {
    font-size: 3vw;
  }

  .message,
  .incoming {
    font-size: 2.8vw;
  }

  .messageList {
    height: 78vh;
  }
}


/* ABOUT THE DEVS */
#flex-container {
  display: flex;
  justify-content: space-around;
}

.dev-card {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dev-profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.about-text {
  text-align: center;
  padding: 100px;

}

.upload {
  display: flex;
  margin: 0px 0px 25px 0px;
}

/* .profile-title {
  padding-left: 20px;
  margin: 25px 0 0 25px;
}

.my-profile-name {
  font-size: 16px;
  margin-bottom: 2px;
}

.my-profile-name p {
  margin-bottom: 8px;
  padding-left: 0;
}

.profile-pic {
  width: 55px;
  /* height: 55px;
  border-radius: 40px;
  margin-top: 10px;
}

.job-title {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
  padding-left: 0;
}

.industry {
  background: #dee2e6;
  margin-bottom: 2px;
}

/* .user-profile-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 30px;
} */

#upload_widget {
  width: 40px;
  padding: 0;
  font-size: 12px;
  margin-top: 2px;
}
/*
.main-data-profile {
  display: flex;
  font-size: 14px;
  /* margin-left: 10px; */
  background: #f8f9fa;
  padding: 10px;
  /* margin-right: 20px; */
  justify-content: space-around;
  /* align-content: flex-end; */
  align-items: flex-end;
}

.single-user {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  border: lightgray solid 1px;
}

.profile-data-block {
  max-width: 30vw;
  margin-left: 20px;
  margin-top: 50px;
}

.mentor-block {
  width: 40vw;
  margin-left: 20px;
  margin-top: 50px;
  max-height: 450px;
}

.mentor-block ul {
  padding-left: 0;
}

.no-mentor {
  /* padding-left: 10px;
  font-style: italic;
}

.profile-mentees {
  font-size: 14px;
  font-weight: bold;
}

.mentee-block {
  display: flex;
  direction: column;
}

.mentor-profile-list {
  margin-left: 0;
  padding-left: 0;
}

.mentor-name {
  font-size: 20px;
}

.mentor-job {
  font-size: 16px;
}
.mentor-image {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.css-1n5yiz3-MuiButtonBase-root-MuiButton-root {
  color: #24282c;
  width: 250px;
}


/* Landing Page */
.landingHeader {
  background-image: url(images/landing.png);
  background-color: #cccc;
  opacity: 75%;
  height: 90vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.headerInner {
  padding: 10px;
}

/* User Profile - Carly */
.single-user-container {
  background-color: transparent;
  box-shadow: none;
  box-sizing: border-box;
  color: #344767;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 20px;
  letter-spacing: .1876px;
  line-height: 32.5px;
  margin: 0 0 40px;
  opacity: 1;
  padding: 0;
  position: relative;
}

#profile-div {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 16px


}

.profile-root {
  background-color: transparent;
  box-sizing: border-box;
  box-shadow: none;
  color: #343A40;
  margin-bottom: 40px;
  padding: 0;
  font-size: 20px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 0.2px;
  line-height: 32.5px;
  opacity: 1;
  position: relative;
  /* transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];*/
  transition: margin-left 300ms cubic-bezier(.4,0,.2,1) 0ms, margin-right 300ms cubic-bezier(.4,0,.2,1) 0ms;
}

.profile-background-container {
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  background-image:linear-gradient(270deg, rgba(100, 50, 200, .6), rgba(216, 157, 79, 0.741), rgba(178, 183, 202, .6)), url(images/logged_out/landing3.png);
  background-position: 10% center;
  background-size: cover;
  border-radius: .75rem;
  box-shadow: none;
  box-sizing: border-box;
  color: #343A40;
  display: flex;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 32.5px;
  margin: 0;
  min-height: 25rem;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  position: relative;

}
/* linear-gradient(270deg, #87D3CF, #FEB865, #B2B7CA),  */

#profile-header-card {
  background-clip: border-box;
  background-color: #fff;
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: .75rem;
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, .1) 0 .25rem .375rem -.0625rem,rgba(0, 0, 0, .06) 0 .125rem .25rem -.0625rem;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .87);
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
  bottom: 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 20px;
  letter-spacing: .1876px;
  line-height: 32.5px;
  margin: -64px 24px 0;
  min-width: 0;
  overflow: visible;
  overflow: visible;
  overflow-wrap: break-word;
  padding: 16px;
  position: absolute;
  transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms;
  word-wrap: break-word;
}


.profile-avatar {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: rgba(0,0,0,.12) 0 .3125rem .625rem 0;
  box-sizing: inherit;
  color: #fff;
  display: flex;
  flex-shrink: 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: all 200ms ease-in-out;
}

.profile-header-grid {
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: wrap;
  margin: -16px 0 0 -16px;
  padding: 0;
  width: calc(100% + 16px);



}

.profile-header-text {
  color: #344767;
  letter-spacing: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  background-color: transparent;
}


#profile-body-card {
  background-clip: border-box;
  background-color: #fff;
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: .75rem;
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, .1) 0 .25rem .375rem -.0625rem,rgba(0, 0, 0, .06) 0 .125rem .25rem -.0625rem;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .87);
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 20px;
  letter-spacing: .1876px;
  line-height: 32.5px;
  margin: -64px 24px 0;
  min-width: 0;
  overflow: visible;
  overflow: visible;
  overflow-wrap: break-word;
  padding: 16px;
  position: relative;
  transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms;
  word-wrap: break-word;
}





.linkedin {
box-sizing: border-box;
color: #1976d2;
display: inline-block;
fill: currentcolor;
flex-shrink: 0;
font-size: 35px;
height: 1em;
margin: 16px;
transition: fill 200ms cubic-bezier(.4, 0, .2, 1) 0ms;
user-select: none;
width: 1em;

}

.instagram {
  box-sizing: border-box;
  color: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
  display: inline-block;
  fill: none;
  flex-shrink: 0;
  font-size: 35px;
  height: 1em;
  margin: 16px;
  transition: fill 200ms cubic-bezier(.4, 0, .2, 1) 0ms;
  user-select: none;
  width: 1em;

}

.github {
  box-sizing: border-box;
  color: #333;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  font-size: 35px;
  height: 1em;
  margin: 16px;
  transition: fill 200ms cubic-bezier(.4, 0, .2, 1) 0ms;
  user-select: none;
  width: 1em;

  }



/* Spacing Shorthand Syntax for Ref
  format: {property}{sides}
    Where property is one of:

    m - for classes that set margin
    p - for classes that set padding
    Where sides is one of:

    t - for classes that set margin-top or padding-top
    b - for classes that set margin-bottom or padding-bottom
    l - for classes that set margin-left or padding-left
    r - for classes that set margin-right or padding-right
    x - for classes that set both *-left and *-right
    y - for classes that set both *-top and *-bottom
    blank - for classes that set a margin or padding on all 4 sides of the element

    theme spacing = 8
    input number multiplied by theme number => m:2 === 16px
*/


/* Tech Stack */
left-right {
  overflow:hidden;
  height:200px;
  width:200px;
  position:relative;
  background-color:#333;
}
.slider {
  width:200px;
  height:200px;
  position:absolute;
  top:0;
  right:-200px;
  background-color:#000;
  color:#fff;
  transition:0.4s ease;
}

.left-right:hover .slider {
right:0;
}

/* Mentor Info Component */
.mentorInfo img {
  margin: 0 10px 15px 0;
}

.mentorInfo #name {
  font-size: 36px;
  line-height: 40px;
}

.mentorInfo #jobInfo {
  font-size: 22px;
  line-height: 26px;
  margin: 5px 0 15px 0;
}

.Mentor Grid {
  margin: 5px 0 5px 0;
}
