body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

form {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  /* margin: 5rem auto; */
}
