body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

label {
  display: block;
}
/* navbar */
.navbar {
  opacity: 30%
}

nav a {
  display: inline-block;
  margin: 1em;
}

h1 {
  text-align: center;
  margin: 1em;
  text-decoration-line: overline;
}

h2 {
  line-height: 1.7em;
  color: #45b1e8;
  font-weight: bold;
}

h3 {
  padding: 10px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

form div {
  margin: 1em;
  display: inline-block;
}

form {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  /* margin: 5rem auto; */
}

ul {
  list-style-type: none;
}

.chat {
  display: flex;
  height: 89vh;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* HOME PAGE */

#welcome-block {
  display: flex;
  justify-content: left;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 20px;
}

#home-container {
  position: relative;
  display: block;
  align-items: center;
  height: 700px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.home-image {
  height: 600px;
  width: 450px;
  position: absolute;
  z-index: 2; /* Place this image in front of the shape */
  top: 0;
  left: 0;
}

.shape {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 70px;
  width: 450px;
  height: 600px;
  background-image: linear-gradient(45deg, #45b1e8, #feb552);
}

.text-block {
  position: absolute;
  padding-top: 100px;
  top: 0;
  left: 700px;
  width: 350px;
  height: 600px;
}

.welcome {
  line-height: 1.7em;
  color: #feb552;
  font-size: larger;
  font-weight: bold;
}

/* QUIZ  */
.question-count {
  text-align: left;
  color: 414a4c;
  font-size: medium;
  background-color: #45b1e8;
  padding: 15px;
}

.question-text {
  display: flex;
  flex-direction: row;
  font-size: larger;
  font-weight: bolder;
  justify-content: center;
  padding: 50px;
}

.answer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 15px;
}

/* MENTOR MATCHES PAGE*/
.mentors {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.mentorbutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #414a4c;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.mentorbutton:hover {
  color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* SING IN and SIGN UP' */
.authForm {
  display: flex;
  width: 520px;
  height: 300px;
  margin: 0 auto;
  padding: 15px;
  background-color: white;
  opacity: 85%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.authContainer {
  background-image: url("./images/logged_out/mentorship1.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.auth {
  padding-top: 20%;
}

.authForm form div {
  margin-top: 0;
}

.authForm form a {
  padding-top: 15px;
  padding-left: 50px;
  font-size: 10px;
}

.authSocialLinks {
  padding-top: 30px;
  margin-left: 10px;
  padding-left: 17px;
  border-left: 2px solid gray;
}

.socialBtn {
  color: white;
  min-width: 220px;
  height: 38px;
  margin-bottom: 10px;
}

.socialBtn:hover {
  color: white;
}

.authBtn {
  width: 190px;
  margin-left: 15px;
  background-color: black;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.authBtn:hover {
  color: white;
}

/* CHAT */

.messageBubble {
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  max-width: fit-content;
}

.message {
  background-color: rgb(85 108 214);
  float: right;
  font-size: 14px;
}

.incoming {
  background-color: #198754;
  float: left;
  font-size: 14px;
}

.sendEmailIcon {
  height: 30px;
  width: 30px;
}

.messageList {
  width: 78vw;
  height: 81vh;
  padding: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebarContainer {
  /* width: 20%; */
  border-right: 2px solid #dee2e6;
}

input.composeMessage {
  font-size: 14px;
  padding: 0 20px;
  width: 80%;
}

h6 {
  text-align: center;
  background: #e9ecef;
}

.sidebar {
  padding: 2px;
  width: 20vw;
}

.recipientPic {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 20px;
}

button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.recipientBtn.css-1lznhn3-MuiButtonBase-root-MuiButton-root {
  /* background: yellow; */
  width: 19vw;
  display: flex;
  justify-content: flex-start;
  /* padding: 10px; */
  /* border-radius: 10px; */
  margin-top: 10px;
  border-bottom: 1px solid #f9fafb;
}

.messageTime {
  font-size: 10px;
  font-style: italic;
  padding-top: 3px;
}

.singleMessageContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.conversations {
  /* border-bottom: 2px solid gray; */
  border-bottom: 2px solid #dee2e6;
  margin-bottom: 15px;
  font-size: 21pt;
  padding-bottom: 10px;
  padding-left: 10px;
}

input.form-control.composeMessage {
  font-size: 16px;
}

.incomingMsg {
  align-items: flex-start;
  margin-left: 10px;
}

@media (max-width: 970px) {
  .sidebar,
  button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.recipientBtn.css-1lznhn3-MuiButtonBase-root-MuiButton-root {
    width: 25vw;
  }

  .messageList {
    width: 73vw;
  }
}

@media (max-width: 730px) {
  .recipientName {
    font-size: 14px;
  }

  .conversations {
    padding-left: 5px;
    font-size: 16pt;
  }

  .recipientPic {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .messageList {
    width: 72vw;
    padding-right: 0;
  }

  .sidebar {
    padding: 0;
  }
}

@media (max-width: 651px) {
  .sidebar,
  button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.recipientBtn.css-1lznhn3-MuiButtonBase-root-MuiButton-root {
    width: 30vw;
  }

  .messageList {
    width: 65vw;
  }

  .authForm {
    flex-direction: column;
    width: 300px;
    height: 450px;
  }

  .authSocialLinks {
    border-left: none;
    border-top: 2px solid gray;
    padding-top: 20px;
    margin-top: 20px;
  }

  .authFormEmail {
    margin-left: 10px;
    padding-left: 17px;
  }
}

@media (max-width: 550px) {
  .conversations {
    font-size: 4vw;
  }

  .recipientPic {
    display: none;
  }

  .recipientName {
    font-size: 3vw;
  }

  .message,
  .incoming {
    font-size: 2.8vw;
  }

  .messageList {
    height: 78vh;
  }
}


/* Animations */
.on-top{
  z-index: 9999;
  height: 100vh;
  width: 250px;
  position: absolute;
}

.boxes {
  margin: 48px auto;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  position: relative;
  margin: 16px;
  height: 150px;
  width: 150px;
  border-radius: 16px;
  border: 1px solid;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bottom-corner {
  position: absolute;
  left: 75%;
  top: 75%;
}

button {
  width: fit-content;
  height: 30px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #fff;
  cursor: pointer;
  color: #fff;
  text-decoration: non
}
button:hover {
  background-color: #f6f6f6;
  color: #424242;
}
button:active {
  background-color: #424242;
}

.toggle {
  color: #424242;
  margin: 0 16px;
  border-color: #424242;
  width: auto;
}

/* ABOUT THE DEVS */
#flex-container {
  display: flex;
  justify-content: space-around;
}

.dev-card {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dev-profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.about-text {
  text-align: center;
  padding: 100px;

}

.upload {
  display: flex;
  margin: 0px 0px 25px 0px;
}

/* .profile-title {
  padding-left: 20px;
}

.my-profile-name {
  font-size: 16px;
  margin-bottom: 2px;
}

.my-profile-name p {
  margin-bottom: 8px;
  padding-left: 0;
}

.profile-pic {
  width: 55px;
  /* height: 55px;
  border-radius: 40px;
  margin-top: 10px;
}

.job-title {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
  padding-left: 0;
}

.industry {
  background: #dee2e6;
  margin-bottom: 2px;
}

.user-profile-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 30px;
} */

#upload_widget {
  width: 40px;
  padding: 0;
  font-size: 12px;
  margin-top: 2px;
}
/*
.main-data-profile {
  display: flex;
  font-size: 14px;
  margin-left: 10px;
  background: #f8f9fa;
  padding: 10px;
  margin-right: 20px;
}

.single-user {
  display: flex;
  justify-content: space-between;
}

.profile-data-block {
  max-width: 30vw;
  margin-left: 20px;
  margin-top: 50px;
}

.mentor-block {
  width: 40vw;
  margin-left: 20px;
  margin-top: 50px;
  max-height: 450px;
}

.mentor-block ul {
  padding-left: 0;
}

.no-mentor {
  /* padding-left: 10px;
  font-style: italic;
}

.profile-mentees {
  font-size: 14pt;
  font-weight: bold;
}

.mentor-profile-list {
  margin-left: 0;
  padding-left: 0;
}
.mentor-image {
  width: 200px;
  height: 200px;
  border-radius: 20px;
} */
#chat_button {
  /* display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #24282c;
  background-color: #ff8259;
}
/* Animations */
.on-top {
  z-index: 9999;
  height: 100vh;
  width: 250px;
  position: absolute;
}

.boxes {
  margin: 48px auto;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  position: relative;
  margin: 16px;
  height: 150px;
  width: 150px;
  border-radius: 16px;
  border: 1px solid;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bottom-corner {
  position: absolute;
  left: 75%;
  top: 75%;
}

button:hover {
  background-color: #f6f6f6;
  color: #424242;
}
button:active {
  background-color: #424242;
}

.toggle {
  color: #424242;
  margin: 0 16px;
  border-color: #424242;
  width: auto;
}

/* Landing Page */
.landingHeader {
  background-image: url(images/landing.png);
  background-color: #cccc;
  opacity: 75%;
  height: 90vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.headerInner {
  padding: 10px;
}

/* User Profile - Carly */

#profile-div {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 16px


}

.profile-root {
  background-color: transparent;
  box-sizing: border-box;
  box-shadow: none;
  color: #343A40;
  margin: 0;
  padding: 30px;
  font-size: 20px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 0.2px;
  line-height: 32.5px;
  opacity: 1;
  position: relative;
  /* transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];*/
  transition: margin-left 300ms cubic-bezier(.4,0,.2,1) 0ms, margin-right 300ms cubic-bezier(.4,0,.2,1) 0ms;
}

.profile-container {
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  background-image: url(images/logged_out/landing3.png);
  background-position: 10% center;
  background-size: cover;
  border-radius: .75rem;
  box-shadow: none;
  box-sizing: border-box;
  color: #343A40;
  display: flex;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 32.5px;
  margin: 0;
  min-height: 25rem;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  position: relative;

}
/* linear-gradient(270deg, #87D3CF, #FEB865, #B2B7CA),  */


.profile-card {
  background-clip: border-box;
  background-color: #B2B7CA;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .75rem;
  box-shadow: rgba(0,0,0,.1) 0 .25rem .375rem -.0625rem,rgba(0,0,0,.06) 0 .125rem .25rem -.0625rem;
  box-sizing: border-box;
  color: rgba(0,0,0,.87);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  transition: box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
  margin-top: -64px;
  margin-bottom: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;


}

.profile-avatar {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: rgba(0,0,0,.12) 0 .3125rem .625rem 0;
  box-sizing: inherit;
  color: #fff;
  display: flex;
  flex-shrink: 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: all 200ms ease-in-out;
}

.profile-header-grid {
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: wrap;
  margin: -16px 0 0 -16px;
  padding: 0;
  width: calc(100% + 16px);



}
.css-2ck8ti-MuiTypography-root {
background-color: #e9ecef;
box-sizing: border-box;
color: rgba(0, 0, 0, .87);
font-family: Roboto,Helvetica,Arial,sans-serif;
font-size: 20px;
font-weight: 500;
letter-spacing: .0075em;
line-height: 1.6;
margin: 0;
text-align: center;
text-transform: capitalize;
}

.linkedin {
box-sizing: border-box;
color: #1976d2;
display: inline-block;
fill: currentcolor;
flex-shrink: 0;
font-size: 35px;
height: 1em;
margin: 16px;
transition: fill 200ms cubic-bezier(.4, 0, .2, 1) 0ms;
user-select: none;
width: 1em;

}

.instagram {
  box-sizing: border-box;
  color: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
  display: inline-block;
  fill: none;
  flex-shrink: 0;
  font-size: 35px;
  height: 1em;
  margin: 16px;
  transition: fill 200ms cubic-bezier(.4, 0, .2, 1) 0ms;
  user-select: none;
  width: 1em;

}

.github {
  box-sizing: border-box;
  color: #333;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  font-size: 35px;
  height: 1em;
  margin: 16px;
  transition: fill 200ms cubic-bezier(.4, 0, .2, 1) 0ms;
  user-select: none;
  width: 1em;

  }



/* Spacing Shorthand Syntax for Ref
  format: {property}{sides}
    Where property is one of:

    m - for classes that set margin
    p - for classes that set padding
    Where sides is one of:

    t - for classes that set margin-top or padding-top
    b - for classes that set margin-bottom or padding-bottom
    l - for classes that set margin-left or padding-left
    r - for classes that set margin-right or padding-right
    x - for classes that set both *-left and *-right
    y - for classes that set both *-top and *-bottom
    blank - for classes that set a margin or padding on all 4 sides of the element

    theme spacing = 8
    input number multiplied by theme number => m:2 === 16px
*/

/* div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-j8df3z-MuiPaper-root-MuiCard-root {
  background-clip: border-box;
  background-color: "transparent";
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, .1) 0 .25rem .375rem -.0625rem,rgba(0, 0, 0, .06) 0 .125rem .25rem -.0625rem;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .87);
  display: flex;
  flex-direction: column;
  margin: -64px 24px 0;
  min-width: 0;
  overflow: visible;
  overflow-wrap: break-word;
  padding: 16px;
  position: relative;
  transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms; */


div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3.css-18ksmt-MuiGrid-root {
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -24px 0 0 -24px;
  padding: 0;
  width: calc(100% + 24px);
}

div.MuiGrid-root.MuiGrid-item.css-13i4rnv-MuiGrid-root {
  box-sizing: border-box;
  flex-direction: row;
  margin: 0;
  padding: 24px 0 0 24px;
}

div.MuiAvatar-root.MuiAvatar-circular.css-wnm067-MuiAvatar-root {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: rgba(0,0,0,.12) 0 .3125rem .625rem 0;
  box-sizing: inherit;
  color: #fff;
  display: flex;
  flex-shrink: 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 4.625rem;
  justify-content: center;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: all 200ms ease-in-out;
  user-select: none;
  width: 4.625rem;
}

img.MuiAvatar-img.css-1v6zmq-MuiAvatar-img {
  box-sizing: inherit;
  color: transparent;
  height: auto;
  margin: 0;
  object-fit: cover;
  padding: 0;
  text-align: center;
  text-indent: 10000px;
  width: 100%;
}

div.MuiBox-root.css-1ywtzqa {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  height: 100%;
  line-height: 1;
  margin: 4px 0 0;
  opacity: 1;
  padding: 0;
}

h5.MuiTypography-root.MuiTypography-h5.css-121ioyh-MuiTypography-root {
  box-sizing: inherit;
  color: #344767;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.375;
  margin: 0;
  opacity: 1;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  vertical-align: unset;
}

span.MuiTypography-root.MuiTypography-button.css-5b84dx-MuiTypography-root {
  box-sizing: inherit;
  color: #7b809a;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .02857em;
  line-height: 1.5;
  margin: 0;
  opacity: 1;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  vertical-align: unset;
}

div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.MuiGrid-grid-lg-4.css-1alaurn-MuiGrid-root {
  -webkit-box-flex: 0;
  box-sizing: border-box;
  flex-basis: 100%;
  flex-direction: row;
  flex-grow: 0;
  margin: 0 0 0 auto;
  max-width: 100%;
  padding: 24px 0 0 24px;
}

@media (min-width: 768px) {
  div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.MuiGrid-grid-lg-4.css-1alaurn-MuiGrid-root {
    -webkit-box-flex: 0;
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.MuiGrid-grid-lg-4.css-1alaurn-MuiGrid-root {
    -webkit-box-flex: 0;
    flex-basis: 33.3333%;
    flex-grow: 0;
    max-width: 33.3333%;
  }
}

header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorTransparent.MuiAppBar-positionStatic.css-1e6nf2m-MuiPaper-root-MuiAppBar-root {
  background-color: transparent;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: static;
  transition: box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
  width: 100%;
}

div.MuiTabs-root.MuiTabs-vertical.css-1xvc1dt-MuiTabs-root {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

div.MuiTabs-scroller.MuiTabs-fixed.css-wkx3zm-MuiTabs-scroller {
  box-sizing: inherit;
  display: inline-block;
  flex: 1 1 auto;
  margin: 0;
  overflow: unset;
  overflow: hidden;
  padding: 0;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

div.MuiTabs-flexContainer.MuiTabs-flexContainerVertical.css-pqgf6-MuiTabs-flexContainer {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

button.MuiButtonBase-root.MuiTab-root.MuiTab-labelIcon.MuiTab-textColorPrimary.Mui-selected.css-ihtmg6-MuiButtonBase-root-MuiTab-root {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  appearance: none;
  background-color: transparent;
  border-radius: .5rem;
  border-width: 0;
  box-sizing: border-box;
  color: #344767;
  cursor: pointer;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: .02857em;
  line-height: inherit;
  margin: 0;
  max-width: unset;
  min-height: unset;
  min-width: unset;
  opacity: 1;
  outline: 0;
  overflow: hidden;
  padding: .25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  vertical-align: middle;
  white-space: normal;
}

span.material-icons-round.notranslate.MuiIcon-root.MuiIcon-fontSizeSmall.MuiTab-iconWrapper.css-1823fhz-MuiIcon-root {
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  direction: ltr;
  display: inline-block;
  flex-shrink: 0;
  font-family: "Material Icons Round";
  font-feature-settings: "liga";
  font-size: 20px;
  font-weight: 400;
  height: 1em;
  letter-spacing: normal;
  line-height: 1;
  margin: -2px .375rem 0 0;
  overflow: hidden;
  overflow-wrap: normal;
  padding: 0;
  text-align: center;
  text-transform: none;
  user-select: none;
  white-space: nowrap;
  width: 1em;
}

span.MuiTouchRipple-root.css-8je8zh-MuiTouchRipple-root {
  border-radius: inherit;
  bottom: 0;
  box-sizing: inherit;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

button.MuiButtonBase-root.MuiTab-root.MuiTab-labelIcon.MuiTab-textColorPrimary.css-ihtmg6-MuiButtonBase-root-MuiTab-root {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  appearance: none;
  background-color: transparent;
  border-radius: .5rem;
  border-width: 0;
  box-sizing: border-box;
  color: #344767;
  cursor: pointer;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: .02857em;
  line-height: inherit;
  margin: 0;
  max-width: unset;
  min-height: unset;
  min-width: unset;
  opacity: 1;
  outline: 0;
  overflow: hidden;
  padding: .25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  vertical-align: middle;
  white-space: normal;
}

span.MuiTabs-indicator.css-jlmy4f-MuiTabs-indicator {
  box-sizing: inherit;
  height: 34px;
  margin: 0;
  padding: 0;
  top: 0;
}

div.MuiBox-root.css-bzcg63 {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  margin: 40px 0 24px;
  opacity: 1;
  padding: 0;
}

div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-1.css-a5rdam-MuiGrid-root {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -8px 0 0 -8px;
  padding: 0;
  width: calc(100% + 8px);
}

div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.MuiGrid-grid-xl-4.css-jr7h8r-MuiGrid-root {
  -webkit-box-flex: 0;
  box-sizing: border-box;
  flex-basis: 100%;
  flex-direction: row;
  flex-grow: 0;
  margin: 0;
  max-width: 100%;
  padding: 8px 0 0 8px;
}

@media (min-width: 768px) {
  div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.MuiGrid-grid-xl-4.css-jr7h8r-MuiGrid-root {
    -webkit-box-flex: 0;
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.MuiGrid-grid-xl-4.css-jr7h8r-MuiGrid-root {
    -webkit-box-flex: 0;
    flex-basis: 33.3333%;
    flex-grow: 0;
    max-width: 33.3333%;
  }
}

div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-1q0uqu4-MuiPaper-root-MuiCard-root {
  background-clip: border-box;
  background-color: #fff;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .75rem;
  box-shadow: none;
  box-sizing: inherit;
  color: rgba(0,0,0,.87);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 0;
  overflow: visible;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  transition: box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
}

div.MuiBox-root.css-11b450n {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  margin: 0;
  opacity: 1;
  padding: 16px;
}

h6.MuiTypography-root.MuiTypography-h6.css-16qtfsl-MuiTypography-root {
  box-sizing: inherit;
  color: #344767;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .0075em;
  line-height: 1.625;
  margin: 0;
  opacity: 1;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  vertical-align: unset;
}

div.MuiBox-root.css-w3kwyl {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  line-height: 1.25;
  margin: 0;
  opacity: 1;
  padding: 8px 16px 16px;
}

span.MuiTypography-root.MuiTypography-caption.css-12rz7y9-MuiTypography-root {
  box-sizing: inherit;
  color: #7b809a;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .03333em;
  line-height: 1.25;
  margin: 0;
  opacity: 1;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: unset;
}

div.MuiBox-root.css-3wk426 {
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  display: flex;
  margin: 0 0 4px -12px;
  opacity: 1;
  padding: 0;
}

div.MuiBox-root.css-1v8epth {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  margin: 4px 0 0;
  opacity: 1;
  padding: 0;
}

span.MuiSwitch-root.MuiSwitch-sizeMedium.css-tnsvld-MuiSwitch-root {
  box-sizing: border-box;
  display: inline-flex;
  flex-shrink: 0;
  height: 38px;
  margin: 0;
  overflow: hidden;
  padding: 12px;
  position: relative;
  vertical-align: middle;
  width: 58px;
  z-index: 0;
}

span.MuiSwitch-switchBase.MuiSwitch-colorPrimary.Mui-checked.MuiButtonBase-root.PrivateSwitchBase-root.css-19fdyy-MuiButtonBase-root-MuiSwitch-switchBase {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  appearance: none;
  background-color: transparent;
  border-radius: 50%;
  border-width: 0;
  box-sizing: border-box;
  color: #42424a;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  left: 0;
  margin: 0;
  outline: 0;
  padding: 9px;
  position: absolute;
  text-decoration: none;
  top: 0;
  transform: translateX(20px);
  transition: left 150ms cubic-bezier(.4,0,.2,1) 0ms, transform 150ms cubic-bezier(.4,0,.2,1) 0ms;
  user-select: none;
  vertical-align: middle;
  z-index: 1;
}

input.MuiSwitch-input.PrivateSwitchBase-input.css-1m9pwf3 {
  box-sizing: inherit;
  cursor: inherit;
  height: 100%;
  left: -100%;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 300%;
  z-index: 1;
}

span.MuiSwitch-thumb.css-11rehke-MuiSwitch-thumb {
  background-color: #fff;
  border: .0625rem solid #42424a;
  border-radius: 50%;
  box-shadow: rgba(0,0,0,.1) 0 .25rem .375rem -.0625rem,rgba(0,0,0,.06) 0 .125rem .25rem -.0625rem;
  box-sizing: inherit;
  height: 20px;
  margin: 0;
  padding: 0;
  width: 20px;
}

span.MuiSwitch-track.css-1jtflaz-MuiSwitch-track {
  background-color: #42424a;
  border: .0625rem solid #42424a;
  border-radius: 7px;
  box-sizing: inherit;
  height: .9375rem;
  margin: 0;
  opacity: 1;
  padding: 0;
  transition: opacity 150ms cubic-bezier(.4,0,.2,1) 0ms, background-color 150ms cubic-bezier(.4,0,.2,1) 0ms;
  width: 2rem;
  z-index: -1;
}

div.MuiBox-root.css-1xho1ve {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  margin: 0 0 0 4px;
  opacity: 1;
  padding: 0;
  width: 80%;
}

span.MuiSwitch-switchBase.MuiSwitch-colorPrimary.MuiButtonBase-root.PrivateSwitchBase-root.css-19fdyy-MuiButtonBase-root-MuiSwitch-switchBase {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  appearance: none;
  background-color: transparent;
  border-radius: 50%;
  border-width: 0;
  box-sizing: border-box;
  color: #42424a;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  left: 0;
  margin: 0;
  outline: 0;
  padding: 9px;
  position: absolute;
  text-decoration: none;
  top: 0;
  transition: left 150ms cubic-bezier(.4,0,.2,1) 0ms, transform 150ms cubic-bezier(.4,0,.2,1) 0ms;
  user-select: none;
  vertical-align: middle;
  z-index: 1;
}

div.MuiBox-root.css-c342tf {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  margin: 24px 0 0;
  opacity: 1;
  padding: 0;
}

div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.MuiGrid-grid-xl-4.css-2rm3vj-MuiGrid-root {
  -webkit-box-flex: 0;
  box-sizing: border-box;
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  flex-grow: 0;
  margin: 0;
  max-width: 100%;
  padding: 8px 0 0 8px;
}

@media (min-width: 768px) {
  div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.MuiGrid-grid-xl-4.css-2rm3vj-MuiGrid-root {
    -webkit-box-flex: 0;
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.MuiGrid-grid-xl-4.css-2rm3vj-MuiGrid-root {
    -webkit-box-flex: 0;
    flex-basis: 33.3333%;
    flex-grow: 0;
    max-width: 33.3333%;
  }
}

hr.MuiDivider-root.MuiDivider-fullWidth.MuiDivider-vertical.css-14e9ec7-MuiDivider-root {
  background-color: transparent;
  background-image: linear-gradient(rgba(52,71,103,0),rgba(52,71,103,.4),rgba(52,71,103,0));
  border-left: 0 solid rgba(0,0,0,.12);
  border-top: 0 solid rgba(0,0,0,.12);
  box-sizing: inherit;
  flex-shrink: 0;
  height: 100%;
  margin: 0 8px 0 -16px;
  opacity: .25;
  padding: 0;
  width: .0625rem;
}

div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-lcxzmd-MuiPaper-root-MuiCard-root {
  background-clip: border-box;
  background-color: #fff;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .75rem;
  box-shadow: none;
  box-sizing: inherit;
  color: rgba(0,0,0,.87);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  min-width: 0;
  overflow: visible;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  transition: box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
}

div.MuiBox-root.css-ksiq9s {
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  display: flex;
  justify-content: space-between;
  margin: 0;
  opacity: 1;
  padding: 16px 16px 0;
}

a.MuiTypography-root.MuiTypography-body2.css-1meyadz-MuiTypography-root {
  box-sizing: inherit;
  color: #7b809a;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .01071em;
  line-height: 1.6;
  margin: 0;
  opacity: 1;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  vertical-align: unset;
}

span.material-icons-round.notranslate.MuiIcon-root.MuiIcon-fontSizeInherit.css-1neevca-MuiIcon-root {
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  direction: ltr;
  display: inline-block;
  flex-shrink: 0;
  font-family: "Material Icons Round";
  font-feature-settings: "liga";
  font-size: 16px;
  font-weight: 400;
  height: 1em;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  overflow-wrap: normal;
  padding: 0;
  text-align: center;
  text-transform: none;
  user-select: none;
  white-space: nowrap;
  width: 1em;
}

div.MuiBox-root.css-qy9p8r {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  line-height: 1;
  margin: 0 0 16px;
  opacity: 1;
  padding: 0;
}

span.MuiTypography-root.MuiTypography-button.css-znq6tb-MuiTypography-root {
  box-sizing: inherit;
  color:  #344767;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .02857em;
  line-height: 1.5;
  margin: 0;
  opacity: .3;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  vertical-align: unset;
}

div.MuiBox-root.css-150ku1m {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  margin: 0;
  opacity: .3;
  padding: 0;
}

hr.MuiDivider-root.MuiDivider-fullWidth.css-17li347-MuiDivider-root {
  background-color: transparent;
  background-image: linear-gradient(to right,rgba(52,71,103,0),rgba(52,71,103,.4),rgba(52,71,103,0));
  border-left: 0 solid rgba(0,0,0,.12);
  border-right: 0 solid rgba(0,0,0,.12);
  border-top: 0 solid rgba(0,0,0,.12);
  box-sizing: inherit;
  flex-shrink: 0;
  height: .0625rem;
  margin: 1rem 0;
  opacity: .25;
  padding: 0;
}

div.MuiBox-root.css-1ircn5c {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  margin: 0;
  opacity: 1;
  padding: 0;
}

div.MuiBox-root.css-17pt5qv {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  display: flex;
  margin: 0;
  opacity: 1;
  padding: 8px 16px 8px 0;
}

span.MuiTypography-root.MuiTypography-button.css-14ktfuf-MuiTypography-root {
  box-sizing: inherit;
  color: #344767;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .02857em;
  line-height: 1.5;
  margin: 0;
  opacity: 1;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  vertical-align: unset;
}

a.MuiBox-root.css-1jp1cx3 {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #3b5998;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  opacity: 1;
  padding: 0 8px 0 4px;
  text-decoration: none;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-eimhud-MuiSvgIcon-root {
  box-sizing: inherit;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  font-size: 18px;
  height: 1em;
  margin: 0;
  padding: 0;
  transition: fill 200ms cubic-bezier(.4,0,.2,1) 0ms;
  user-select: none;
  width: 1em;
}

div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-j8df3z-MuiPaper-root-MuiCard-root svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-eimhud-MuiSvgIcon-root path {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a.MuiBox-root.css-1d6ymwi {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #55acee;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  opacity: 1;
  padding: 0 8px 0 4px;
  text-decoration: none;
}

a.MuiBox-root.css-1nb3sio {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #125688;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  opacity: 1;
  padding: 0 8px 0 4px;
  text-decoration: none;
}

hr.MuiDivider-root.MuiDivider-fullWidth.MuiDivider-vertical.css-1xu6sm2-MuiDivider-root {
  background-color: transparent;
  background-image: linear-gradient(rgba(52,71,103,0),rgba(52,71,103,.4),rgba(52,71,103,0));
  border-left: 0 solid rgba(0,0,0,.12);
  border-top: 0 solid rgba(0,0,0,.12);
  box-sizing: inherit;
  flex-shrink: 0;
  height: 100%;
  margin: 0;
  opacity: .25;
  padding: 0;
  width: .0625rem;
}

div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-xl-4.css-pz165h-MuiGrid-root {
  -webkit-box-flex: 0;
  box-sizing: border-box;
  flex-basis: 100%;
  flex-direction: row;
  flex-grow: 0;
  margin: 0;
  max-width: 100%;
  padding: 8px 0 0 8px;
}

@media (min-width: 1200px) {
  div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-xl-4.css-pz165h-MuiGrid-root {
    -webkit-box-flex: 0;
    flex-basis: 33.3333%;
    flex-grow: 0;
    max-width: 33.3333%;
  }
}

div.MuiBox-root.css-1y1jtko {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  margin: 0;
  opacity: 1;
  padding: 16px 16px 0;
}

ul.MuiBox-root.css-1x8070m {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  display: flex;
  flex-direction: column;
  margin: 0;
  opacity: 1;
  padding: 0;
}

li.MuiBox-root.css-f0vkq {
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  display: flex;
  margin: 0 0 8px;
  opacity: 1;
  padding: 8px 0;
}

div.MuiBox-root.css-zohxfi {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  margin: 0 16px 0 0;
  opacity: 1;
  padding: 0;
}

div.MuiAvatar-root.MuiAvatar-circular.css-1a02vcl-MuiAvatar-root {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: rgba(0,0,0,.1) 0 .25rem .375rem -.0625rem,rgba(0,0,0,.06) 0 .125rem .25rem -.0625rem;
  box-sizing: inherit;
  color: #fff;
  display: flex;
  flex-shrink: 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 3rem;
  justify-content: center;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: all 200ms ease-in-out;
  user-select: none;
  width: 3rem;
}

div.MuiBox-root.css-hoe310 {
  -webkit-box-pack: center;
  align-items: flex-start;
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  opacity: 1;
  padding: 0;
}

span.MuiTypography-root.MuiTypography-button.css-7jnqft-MuiTypography-root {
  box-sizing: inherit;
  color: #344767;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .02857em;
  line-height: 1.5;
  margin: 0;
  opacity: 1;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  vertical-align: unset;
}

span.MuiTypography-root.MuiTypography-caption.css-txmvxv-MuiTypography-root {
  box-sizing: inherit;
  color: #7b809a;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .03333em;
  line-height: 1.25;
  margin: 0;
  opacity: 1;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  vertical-align: unset;
}

div.MuiBox-root.css-bkusxi {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  margin: 0 0 0 auto;
  opacity: 1;
  padding: 0;
}

a.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1kcw562-MuiButtonBase-root-MuiButton-root {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  appearance: none;
  background-color: transparent;
  background-position: 25%;
  background-size: 150%;
  border-radius: .5rem;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #1a73e8;
  cursor: pointer;
  display: inline-flex;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .02857em;
  line-height: 1.4;
  margin: 0;
  min-height: 2.3125rem;
  min-width: 64px;
  outline: 0;
  padding: .5625rem 1.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 150ms ease-in;
  user-select: none;
  vertical-align: middle;
}

a.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1kcw562-MuiButtonBase-root-MuiButton-root:hover {
  color: #1662c4;
}

a.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1kcw562-MuiButtonBase-root-MuiButton-root:active {
  opacity: .85;
}

a.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1kcw562-MuiButtonBase-root-MuiButton-root:disabled {
  opacity: .65;
}

a.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1kcw562-MuiButtonBase-root-MuiButton-root:active:focus {
  opacity: .85;
}

a.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1kcw562-MuiButtonBase-root-MuiButton-root:active:hover {
  opacity: .85;
}

a.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1kcw562-MuiButtonBase-root-MuiButton-root:focus:not(:hover) {
  color: #1662c4;
}

div.MuiBox-root.css-17ucrcx {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  line-height: 1.25;
  margin: 0;
  opacity: 1;
  padding: 16px 16px 0;
}

h6.MuiTypography-root.MuiTypography-h6.css-1u62gv6-MuiTypography-root {
  box-sizing: inherit;
  color: #344767;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .0075em;
  line-height: 1.625;
  margin: 0;
  opacity: 1;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  vertical-align: unset;
}

div.MuiBox-root.css-qmlhk2 {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  margin: 0 0 8px;
  opacity: 1;
  padding: 0;
}

span.MuiTypography-root.MuiTypography-button.css-zs61of-MuiTypography-root {
  box-sizing: inherit;
  color: #7b809a;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .02857em;
  line-height: 1.5;
  margin: 0;
  opacity: 1;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  vertical-align: unset;
}

div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-6.css-honmcm-MuiGrid-root {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -48px 0 0 -48px;
  padding: 0;
  width: calc(100% + 48px);
}

div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.MuiGrid-grid-xl-3.css-1in6r2t-MuiGrid-root {
  -webkit-box-flex: 0;
  box-sizing: border-box;
  flex-basis: 100%;
  flex-direction: row;
  flex-grow: 0;
  margin: 0;
  max-width: 100%;
  padding: 48px 0 0 48px;
}

@media (min-width: 768px) {
  div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.MuiGrid-grid-xl-3.css-1in6r2t-MuiGrid-root {
    -webkit-box-flex: 0;
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.MuiGrid-grid-xl-3.css-1in6r2t-MuiGrid-root {
    -webkit-box-flex: 0;
    flex-basis: 25%;
    flex-grow: 0;
    max-width: 25%;
  }
}

div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-15m5kjf-MuiPaper-root-MuiCard-root {
  background-clip: border-box;
  background-color: #fff;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .75rem;
  box-shadow: none;
  box-sizing: inherit;
  color: rgba(0,0,0,.87);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 0;
  overflow: visible;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  transition: box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
}

div.MuiBox-root.css-dx0pu7 {
  background-color: transparent;
  border-radius: .75rem;
  box-shadow: rgba(0,0,0,.1) 0 1.25rem 1.5625rem -.3125rem,rgba(0,0,0,.04) 0 .625rem .625rem -.3125rem;
  box-sizing: inherit;
  color: #344767;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: relative;
  width: 100.25%;
}

img.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img.css-18bmni-MuiCardMedia-root {
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  border-radius: .75rem;
  box-shadow: rgba(0,0,0,.1) 0 .25rem .375rem -.0625rem,rgba(0,0,0,.06) 0 .125rem .25rem -.0625rem;
  box-sizing: inherit;
  display: block;
  margin: 0;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
  padding: 0;
  width: auto;
}

div.MuiBox-root.css-1hlvr17 {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  margin: 8px 4px 0;
  opacity: 1;
  padding: 0;
}

span.MuiTypography-root.MuiTypography-button.css-lbt1ld-MuiTypography-root {
  box-sizing: inherit;
  color: #7b809a;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .02857em;
  line-height: 1.5;
  margin: 0;
  opacity: 1;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  vertical-align: unset;
}

a.MuiTypography-root.MuiTypography-h5.css-hk64nk-MuiTypography-root {
  box-sizing: inherit;
  color: #344767;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.375;
  margin: 0;
  opacity: 1;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  vertical-align: unset;
}

div.MuiBox-root.css-1r99bq {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  line-height: 0;
  margin: 0 0 24px;
  opacity: 1;
  padding: 0;
}

div.MuiBox-root.css-1dyncq9 {
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  display: flex;
  justify-content: space-between;
  margin: 0;
  opacity: 1;
  padding: 0;
}

a.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeSmall.MuiButton-outlinedSizeSmall.MuiButtonBase-root.css-1navluy-MuiButtonBase-root-MuiButton-root {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  appearance: none;
  background-color: transparent;
  background-position: 25%;
  background-size: 150%;
  border: 1px solid #1a73e8;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #1a73e8;
  cursor: pointer;
  display: inline-flex;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .02857em;
  line-height: 1.4;
  margin: 0;
  min-height: 1.9375rem;
  min-width: 64px;
  outline: 0;
  padding: .375rem 1.125rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 150ms ease-in;
  user-select: none;
  vertical-align: middle;
}

a.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeSmall.MuiButton-outlinedSizeSmall.MuiButtonBase-root.css-1navluy-MuiButtonBase-root-MuiButton-root:hover {
  opacity: .75;
}

a.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeSmall.MuiButton-outlinedSizeSmall.MuiButtonBase-root.css-1navluy-MuiButtonBase-root-MuiButton-root:disabled {
  opacity: .65;
}

a.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeSmall.MuiButton-outlinedSizeSmall.MuiButtonBase-root.css-1navluy-MuiButtonBase-root-MuiButton-root:focus:not(:hover) {
  box-shadow: rgba(26,115,232,.5) 0 0 0 .2rem;
}

a.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeSmall.MuiButton-outlinedSizeSmall.MuiButtonBase-root.css-1navluy-MuiButtonBase-root-MuiButton-root:active:not(:hover) {
  background-color: #1a73e8;
  color: #fff;
  opacity: .85;
}

div.MuiBox-root.css-12dubtd {
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  color: #344767;
  display: flex;
  margin: 0;
  opacity: 1;
  padding: 0;
}

div.MuiAvatar-root.MuiAvatar-circular.css-vsuw0h-MuiAvatar-root {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background-color: transparent;
  border: .125rem solid #fff;
  border-radius: 50%;
  box-sizing: inherit;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 1.5rem;
  justify-content: center;
  line-height: 1;
  margin: 0 0 0 -10px;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: all 200ms ease-in-out;
  user-select: none;
  width: 1.5rem;
}

div.MuiAvatar-root.MuiAvatar-circular.css-vsuw0h-MuiAvatar-root:hover {
  z-index: 10;
}

div.MuiAvatar-root.MuiAvatar-circular.css-vsuw0h-MuiAvatar-root:focus {
  z-index: 10;
}

/* Tech Stack */
left-right {
  overflow:hidden;
  height:200px;
  width:200px;
  position:relative;
  background-color:#333;
}
.slider {
  width:200px;
  height:200px;
  position:absolute;
  top:0;
  right:-200px;
  background-color:#000;
  color:#fff;
  transition:0.4s ease;
}

.left-right:hover .slider {
right:0;
}
